{% extends 'base.html' %}
{% block title %}Contribua{% endblock %}

{% block content %}
<div class="criar-container flex">
    <div class="form-container flex column">
        <div>
            <h2>Compartilhe seu avistamento</h2>
        </div>
        <form action="" method="POST" class="flex column">
            <div class="flex column">
                <label for="especie">Espécie</label>
                <select name="especie" id="especie" required>
                    <option value="Mabuya">Mabuya</option>
                    <option value="Sebito">Sebito</option>
                    <option value="Cocoruta">Cocoruta</option>
                    <option value="Gameleira">Gameleira</option>
                    <option value="Ribaça">Ribaça</option>
                </select>
            </div>
        
            <div class="flex column">
                <label for="local">Local do avistamento</label>
                <input type="text" name="local" required>
            </div>
    
            <div class="flex column">
                <label for="comentario">Descrição</label>
                <textarea name="comentario" id="comentario" required></textarea>
            </div>
    
            <div class="flex column">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
    
    <div class="instrucao-container flex column">
        <h2>Instruções</h2>
        <p>
            Ao avistar uma espécie, preencha no formulário ao lado o nome (dentre as opções de espécies catalogadas pelo projeto), 
            o local em que foi avistada e uma descrição contendo o máximo de detalhes possíveis.
        </p>

        <p>
            Ficou com alguma dúvida sobre a espécie avistada? Acesse nossas espécies catalogadas para ver fotos e descrição de cada uma.
        </p>

        <p>Sua contribuição é muito importante para ajudar a mapear as espécies endêmicas de Fernando de Noronha!</p>

        <form action="">
            <button formaction="{{url_for('especies.especie', nome = 'mabuya')}}">Ver espécies</button>
        </form>
    </div>
</div>


{% endblock %}