{% extends 'base.html' %}
{% block title %}Contribua{% endblock %}

{% block content %}
 <div class="form-container flex column">
    <div>
        <h1>Título do formulário</h1>
    </div>
    <form action="" method="POST" class="flex column">
        <div class="flex column">
            <label for="especie">Espécie</label>
            <select name="especie" id="especie">
                <option value="Espécie 1">Espécie 1</option>
                <option value="Espécie 2">Espécie 2</option>
                <option value="Espécie 3">Espécie 3</option>
                <option value="Espécie 4">Espécie 4</option>
                <option value="Espécie 5">Espécie 5</option>
            </select>
        </div>
    
        <div class="flex column">
            <label for="local">Local do avistamento</label>
            <input type="text" name="local">
        </div>

        <div class="flex column">
            <label for="comentario">Descrição</label>
            <textarea name="comentario" id="comentario"></textarea>
        </div>

        <div class="flex column">
            <button type="submit">Enviar</button>
        </div>
    </form>
    
 </div>

{% endblock %}