{% extends 'base.html' %}
{% block title %}Editar avistamento{% endblock %}

{% block content %}

<div class="edit-container flex column">
    <div>
        <h2>Edite seu avistamento</h2>
    </div>
    <form action="" method="POST" class="flex column">
        <div class="flex column">
            <label for="especie">Espécie</label>
            <select name="especie" id="especie"  required>
                <option value="Mabuya" {% if avistamento['nome_especie'] == 'Mabuya' %} selected {% endif %}>Mabuya</option>
                <option value="Sebito" {% if avistamento['nome_especie'] == 'Sebito' %} selected {% endif %}>Sebito</option>
                <option value="Cocoruta" {% if avistamento['nome_especie'] == 'Cocoruta' %} selected {% endif %}>Cocoruta</option>
                <option value="Gameleira" {% if avistamento['nome_especie'] == 'Gameleira' %} selected {% endif %}>Gameleira</option>
                <option value="Ribaça" {% if avistamento['nome_especie'] == 'Ribaça' %} selected {% endif %}>Ribaça</option>
            </select>
        </div>
    
        <div class="flex column">
            <label for="local">Local do avistamento</label>
            <input type="text" name="local" value="{{ avistamento['local_avistamento'] }}" required>
        </div>

        <div class="flex column">
            <label for="comentario">Descrição</label>
            <textarea name="comentario" id="comentario" required>{{ avistamento['comentario'] }}</textarea>
        </div>

        <div class="flex column">
            <button type="submit">Enviar</button>
        </div>
    </form>
    
 </div>

{% endblock %}