{% extends 'base.html' %}
{% block title %}Avistamentos{% endblock %}

{% block content %}
    <div class="avistamento-container flex column">
        <h2>Avistamentos</h2>

        {% for avistamento in avistamentos %}
            <article class="avistamento-post flex column">

                <div class="flex avistamento-header">
                    <h4>
                        <a href="{{ url_for('especies.especie', nome = avistamento['nome_especie']) }}">{{avistamento['nome_especie']}}</a>
                    </h4>
                    <div class="flex editar-excluir">
                        <a href="{{ url_for('avistamento.editar', id = avistamento['id']) }}">Editar</a>
                        <a href="{{ url_for('avistamento.deletar', id = avistamento['id']) }}">Excluir</a>
                    </div>
                    
                </div>

                <div class="local-data flex">
                    <div class="local-avistamento">{{avistamento['local_avistamento']}},</div>
                    <div>em {{avistamento['data_avistamento'].strftime('%d/%m/%Y')}}</div>
                </div>
            
                <div class="avistamento-comentario">{{avistamento['comentario']}}</div>
            </article>
        {% endfor %}
    </div>
    

{% endblock %}