{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="home-banner flex">
    <div class="home-banner-content flex column">
        <h1>Projeto Mabuya</h1>
        <p>
            Ajude a monitorar espécies endêmicas da Ilha de Fernando de Noronha cadastrando seu avistamento.
        </p>
        <form action="">
            <button formaction=" {{ url_for('avistamento.criar') }} ">Conheça</button>
        </form>
    </div>
    <img src="{{url_for('static', filename='images/home_img.jpg')}}" alt="Ilustração de uma paisagem com curso d'água e floresta." style="width: 35%;">
</div>

{% endblock %}