{% extends 'base.html' %}
{% block title %}Sobre Nós{% endblock %}
{% block content %}
    <div class="sobre-container">
        <h2>Quem somos?</h2><br>
        <p>
            O Projeto Mabuya é uma iniciativa coletiva de discentes da Universidade Federal Rural de Pernambuco 
            no monitoramento das espécies endêmicas do Arquipélago de Fernando de Noronha.
        </p><br>
    
        <h2>O que fazemos?</h2><br>
        <p>
            A proposta se estrutura na colaboração pública para a coleta de dados, através do registro de avistamentos das espécies por qualquer pessoa
             ou entidade, e na estruturação de um banco de informações acerca da fauna e flora. Além disso, oferecemos a possibilidade de o visitante
            conhecer e saber mais sobre cada espécie, com informações ecológicas que disponibilizamos no site.
        </p><br>
        <p>
            A base de dados construída com a participação popular possibilita o desenvolvimento de diversos mecanismos que possam contribuir para a
            preservação da natureza, como a elaboração de estudos e pesquisas, políticas públicas de proteção ambiental, e conscientização e educação 
            ecológica.
        </p><br>

        <h2>Por que fazemos?</h2><br>
        <p>
            O Arquipélago de Fernando de Noronha possui como principais elementos de perturbações ambientais: turismo, empreendimentos imobiliários 
            e atividades extrativistas, como a pesca.
        </p><br>
        <p>
            A importância do monitoramento de espécies endêmicas surge da maior vulnerabilidade à extinção dessa categoria frente a essas perturbações
            ambientais, em relação a espécies não endêmicas, devido à distribuição geográfica limitada e à baixa densidade populacional.
        </p><br>
        <p>
            Acreditamos que a união da ciência feita dentro da universidade com a sociedade em contato com o meio ambiente potencializa o objetivo 
            e interesse comum de todos na conservação ambiental.
        </p>
        </div>
    
{% endblock %}